.homePage h1 {
  list-style: none;
}

.lista-ficheros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.file {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.nombre-fichero {
  color: red;
}

.created-at {
  color: wheat;
}

.icono-fichero {
  width: 1px;
}

.borrar-fichero {
  background-color: red;
}

.descargar-fichero {
  background-color: blue;
}
